<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to Your Dashboard</h1>
  <ul>
    <li><a href="/list-products">List Products</a></li>
    <li><a href="/add-to-cart">Add to Cart</a></li>
    <li><a href="/remove-from-cart">Remove from Cart</a></li>
    <li><a href="/display-cart">Display Cart</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</body>
</html>
