<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the E-Commerce App</h1>
  <h2>Available Products</h2>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <strong><%= product.name %></strong> - $<%= product.price %> - Stock: <%= product.stock_quantity %>
      </li>
    <% }) %>
  </ul>
  <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
</body>
</html>
